// Colors
$primary-color: #dd7230;
$secondary-color: #313638;
$black: #00171f;
$white: #fefefe;
$font-color: rgba($black, .85);

// Typo
$font-base: 1rem;

// Sizing
$full: 100%;
$size-base: 8px;
$size-md: $size-base * 2;
$size-lg: $size-base * 3;
$size-xl: $size-md * 2;
$size-2xl: $size-xl * 2;

// Utils
$shadow: 0 4px 6px -1px rgba($black, .1), 0 2px 4px -1px rgba($black, 0.06);