@import './_theme.scss';

.Navbar {
  background: $white;
  box-shadow: $shadow;
  color: $font-color;
  font-size: $font-base;
  top: -1px;
  width: $full;

  .dropdown-menu {
    left: -125px;
  }
}

.Navbar__menu {
  display: none;
}

.Navbar__menu-item:hover,
.Navbar__buttons-button:hover {
  color: $primary-color !important;
}

.Navbar__buttons {
  display: flex;
  flex-direction: row;
}

.Navbar__buttons-button,
.Navbar__menu-item,
.Navbar__dropdown {
  margin: 0 $size-base;
}

.Navbar-cta {
  color: $primary-color !important;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .Navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .dropdown-menu {
      width: max-content;
      padding: $space-lg;
    }
  }

  .Navbar__menu {
    display: flex;
  }

  #Navbar__menu-mobile {
    display: none !important;
  }

  .navbar-expand-md .navbar-nav .nav-link {
    padding-left: 0;
  }

  .Navbar__dropdown-container {
    display: grid;
    grid-template-columns: repeat(3, 0.9fr);
  }

  .Navbar__dropdown-item {
    color: $primary-color !important;
  }
}

@media screen and (min-width: 1316px) {
  .Navbar {
    display: grid;
    grid-template-columns: auto 2fr 1fr;

    .dropdown-menu {
      left: 0;
    }
  }

  .Navbar__menu {
    justify-self: center;
  }

  .Navbar__buttons {
    justify-self: right;
  }

  .Navbar__menu-item {
    margin: 0 $size-md;
  }

  .Navbar__dropdown-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $size-2xl;
  }
}
