$primary-color: #dd7230;
$black: #00171f;
$white: #fefefe;
$font-color: rgba($black, .85);
$font-base: 1rem;
$full: 100%;
$space-base: 8px;
$space-md: $space-base * 2;
$shadow: 0 4px 6px -1px rgba($black, .1), 0 2px 4px -1px rgba($black, 0.06);